# Rust
/target/
target/
**/target/

# .NET
[Bb]in/
[Oo]bj/
*.user

# Misc
**/[Dd]ecompiled/
**/[Ee]xtracted/
**/dist/
*.log
*.vscode
**.bak
**.cpp
**.gdc
**/[Nn]otes/
godot-*/
**/vendor/
test.md

# BYO GodotSharp.dll, please! (it's in the game directory, too)
MISAML.Core/vendor/GodotSharp.dll 